@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

strong {
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(254, 251, 246, 0.863) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 0.7s infinite linear;
  box-sizing: border-box;
}

.dark .shimmer {
  background: linear-gradient(
    to right,
    rgba(34, 40, 49, 0) 0%,
    rgba(34, 40, 49, 0.863) 50%,
    rgba(34, 40, 49, 0) 100%
  );
}
