@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

.font-brand {
  font-family: 'Kanit', sans-serif;
}

p {
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 1rem 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1rem 0;
}
